<!DOCTYPE html>
<html>
  <head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8684046709077789" crossorigin="anonymous"></script>
  </head>
	<div class="ribbon right red">
	  <a href="#">Thank you!</a>
	</div>
  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
	{% include googleanalytics.html %}
  </body>

</html>
